$primary-color: #630460;
$secondary-color: #5d2b85;

$primary-text-color: #000000de;
$secondary-text-color: #929292;
$white: #fff;
$empty-img-background: #bdbdbd;

$secondary-font-size: 16px;

$primary-font: 'Nunito', sans-serif;
$secondary-font: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

$transition-efect: all 0.5s ease;

$buttons-border-radius: 50px;

$product-img-width: 128px;
$product-img-height: 206px;

$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$monitor-width: 1200px;